In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('fer.xls', index_col=0)

c:\Users\lufer\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
# analizamos el tipo de datos de cada columna
df.dtypes

Action                object
Quantity              object
Price                 object
Value                 object
Date                  object
Total Position PnL    object
dtype: object

In [5]:
# convertimos Date a datetime
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\lufer\AppData\Local\Temp\ipykernel_8656\1089467488.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.head()

,Action,Quantity,Price,Value,Date,Total Position PnL
Name,,,,,,
BTC/USDT,Bought,0.00026587 BTC,"₮37,612.9100",₮10.00,2023-11-24 18:45:00+00:00,NaN
BTC/USDT,Bought,0.00026569 BTC,"₮37,637.8700",₮10.00,2023-11-26 12:17:00+00:00,NaN
BTC/USDT,Bought,0.00026966 BTC,"₮37,084.2700",₮10.00,2023-11-27 11:30:00+00:00,NaN
BTC/USDT,Bought,0.00077740 BTC,"₮38,590.1800",₮30.00,2023-01-12 11:45:00+00:00,NaN
BTC/USDT,Sold,0.00157861 BTC,"₮43,800.0000",₮60.00,2023-06-12 01:47:00+00:00,₮9.14

In [7]:
# eliminamos todas las filas con mas de 3 valores nulos
df.dropna(thresh=3, inplace=True)

In [8]:
lista_simbolos = ['₮', '$', '€', ',']
function = lambda x: x.str.replace('₮', '').str.replace('$', '').str.replace('€', '').str.replace(',', '')

In [9]:
df['Value'] = df[['Value']].apply(function)
# convertimos Value a float
df['Value'] = df['Value'].astype(float)

In [10]:
df['Price'] = df[['Price']].apply(function)

In [11]:
df['Total Position PnL'] = df[['Total Position PnL']].apply(function)
df['Total Position PnL'] = df['Total Position PnL'].astype(float)

In [12]:
# eliminamos las filas con valores nulos
df.dropna(inplace=True)

In [13]:
# Filtamos por el año 2023
df = df[df['Date'].dt.year == 2023]

# agrupamos por mes y sumamos la columna "Total Position PnL"
a = df.groupby(df['Date'].dt.strftime('%B'))['Total Position PnL'].sum()

# ordenamos los meses
a = a.reindex(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
               'November', 'December'])

# convertimos a dataframe
a = a.to_frame()
a

           Total Position PnL
Date
January                 47.93
February                85.09
March                   19.05
April                   -7.15
May                     12.68
June                    26.73
July                    48.23
August                 -14.10
September              -16.89
October                 19.64
November               195.83
December                 0.17